
<body> 

<div id="tooplate_header_wrapper">
    <div id="tooplate_header">
    
        <div id="site_title">
            <h1><a href="http://www.tooplate.com" rel="nofollow">
                <!--<img src="images/tooplate_logo.png" alt="logo" /> --><span>Your tagline goes here</span></a></h1>
        </div> <!-- end of site_title -->
        
        <div id="header_right">
        
            <div id="social_box">
                <ul>
                <!--  <li><a href="#"><img src="images\facebook.png" alt="facebook" /></a></li>
                    <li><a href="#"><img src="images/twitter.png" alt="twitter" /></a></li>
                    <li><a href="#"><img src="images/linkedin.png" alt="linkin" /></a></li>
                    <li><a href="#"><img src="images/technorati.png" alt="technorati" /></a></li>
                    <li><a href="#"><img src="images/myspace.png" alt="myspace" /></a></li>   -->             
                </ul>
                <div class="cleaner"></div>
            </div>   
                     
             <div id="search_box">
                <form action="#" method="get">
                    <input type="text" value="Search" name="q" size="10" id="searchfield" title="searchfield" onfocus="clearText(this)" onblur="clearText(this)" />
                  <input type="submit" name="Search" value="" id="searchbutton" title="Search" />
                </form>
            </div>
                
        </div>
    
    </div>
</div>

<div id="tooplate_middle_wrapper">
    <div id="tooplate_middle">
    
        <!<img src="../assets/images/tooplate_image_01.jpg" alt="Image 01"  />
        <div id="middle_content">
            <h2>Instantly find the expert that you need</h2>
            <p>Find an available expert online
                and recieve instant professional advice.</p>
            <div class="wwu_btn"><a href="#"></a></div>
        </div>
    
    </div>
</div>

 <div id="tooplate_menu">
                
    <ul>
        <li><a href="index.html" class="current">Home</a></li>
        <li><a href="#">EDUCATION</a></li>
        <li><a href="#">LEGAL</a></li>
        <li><a href="#">BUSINESS</a></li>
        <li><a href="#">PSYCHOLOGY</a></li>
        <li><a href="#">BILLING</a></li>
        <li><a href="#">ASTROLOGY</a></li>
    </ul>       

    <div class="cleaner"></div>
</div> <!-- end of templatetooplate_menu -->
    
<div id="tooplate_content">

    <div id="services">
        <div class="col_w300">
            <h3 class="service1">Web</h3>
            <p>Text of your choice </p>
            <div class="btn_more"><a href="#">More...</a></div>
        </div>
        
        <div class="col_w300">
            <h3 class="service2">Online Marketing</h3>
            <p>Text of your choice.</p>
            <div class="btn_more"><a href="#">More...</a></div>
        </div>
        
        <div class="col_w300 last_col">
            <h3 class="service3">Social Networking</h3>
            <p>Text of your choice.</p>
            <div class="btn_more"><a href="#">More...</a></div>
        </div>
        
        <div class="cleaner"></div>
    </div>
    
    <div class="content_box content_box_last">
        <div class="col_w460">
            <h2> Welcome to expert advice</h2>
            <div class="image_wrapper image_fl">
                <!--<img src="images/tooplate_image_02.jpg" alt="Image 02" /> --></div>
          
            <p><em>Access to our knowledgeable experts.</em></p>
            <p>Text of your choice <a rel="nofollow" href="#" target="_parent">your link </a> for everyone and it can be used for any purpose. Credits go to <a rel="nofollow" href="#" target="_blank">expert advice </a> supporting team and <a rel="nofollow" href="#" target="_blank">--------------</a> --------- ..</p>
            
            <div class="cleaner_h20"></div>
            <h6>Text of your choice</h6>
            <ul class="tooplate_list">
                <li>Text of your choice</li>
                <li>Text of your choice</li>
                <li>Text of your choice</li>
                <li>Text of your choice</li>
            </ul>
            
            <div class="btn_more"><a href="#">More...</a></div>
        </div>
        
        <div class="col_w460 last_col">
            <h2>Sed venenatis mattis dignissim</h2>
            <div class="image_wrapper">
                <!--<img src="images/tooplate_image_03.jpg" alt="Image 03" />--></div>
            <p><em>Text of your choice...Text of your choice...Text of your choice...Text of your choice.</em></p>
            <p>...Text of your choice...Text of your choice...Text of your choice...Text of your choice...Text of your choice...Text of your choice...Text of your choice...Text of your choice <a href="http://validator.w3.org/check?uri=referer" rel="nofollow"><strong>XHTML</strong></a> and <a href="http://jigsaw.w3.org/css-validator/check/referer" rel="nofollow"><strong>CSS</strong></a>.</p>
            <p>...Text of your choice...Text of your choice...Text of your choice...Text of your choice...Text of your choice...Text of your choice...Text of your choice...Text of your choice...Text of your choice...Text of your choice...Text of your choice</p>
            <div class="btn_more"><a href="#">More...</a></div>
        </div>
        
        <div class="cleaner"></div>            
    </div>
    
    <div class="cleaner"></div>
</div>

<div id="tooplate_footer_wrapper">

     <div id="tooplate_footer">
    
        Copyright © 2048 <a href="#">Company Name</a>
    
    </div> 
     <!-- end of templatetooplate_footer -->
</div> 
