/*
Credit: http://www.tooplate.com
*/

body {
    margin: 0px;
    padding: 0px;
    color: #333;
    font-family: Tahoma, Geneva, sans-serif;
    font-size: 13px;
    line-height: 1.5em; 
    background-color: #e3f7ff;
    background-image: url(../images/tooplate_body.jpg);
    background-repeat: repeat-x;
    background-position: top;
}

a, a:link, a:visited { 
    color: #ff4301; 
    text-decoration: none; 
}

a:hover { 
    text-decoration: underline; 
}

p { 
    margin: 0px; 
    padding: 0; 
}

img { 
    border: none; 
}

h1, h2, h3, h4, h5, h6 { 
    color: #183544; 
}

h1 { 
    font-size: 40px; 
    font-weight: normal; 
    margin: 0 0 30px 0; 
    padding: 5px 0; 
}

h2 { 
    font-size: 28px; 
    font-weight: normal; 
    margin: 0 0 30px 0; 
    padding: 0; 
}

h2 span { /* text-shadow: 1px 1px 1px #555; */ 
    font-weight: bold; 
}

h3 { 
    font-size: 21px; 
    margin: 0 0 15px 0; 
    padding: 0; 
    padding: 0; 
    color: #000; 
    font-weight: normal; 
}

h4 { 
    font-size: 18px; 
    margin: 0 0 15px 0; 
    padding: 0; 
}

h5 { 
    font-size: 16px; 
    margin: 0 0 10px 0; 
    padding: 0; 
    color: #333; 
}

h6 { 
    font-size: 14px; 
    margin: 0 0 5px 0; 
    padding: 0; 
    color: #333; 
}

.cleaner { 
    clear: both; 
    width: 100%; 
    height: 0px; 
    font-size: 0px;  
}

.cleaner_h10 { 
    clear: both; 
    width:100%; 
    height: 10px; 
}

.cleaner_h20 { 
    clear: both; 
    width:100%; 
    height: 20px; 
}

.cleaner_h30 { 
    clear: both; 
    width:100%; 
    height: 30px; 
}

.cleaner_h40 { 
    clear: both; 
    width:100%; 
    height: 40px; 
}

.cleaner_h50 { 
    clear: both; 
    width:100%; 
    height: 50px; 
}

.cleaner_h60 { 
    clear: both; 
    width:100%; 
    height: 60px; 
}

.float_l { 
    float: left; 
}

.float_r { 
    float: right; 
}

.image_wrapper { 
    display: inline-block; 
    border: 1px solid #fff; 
    padding: 5px; 
    background: none; 
    margin-bottom: 10px; 
}

.image_fl { 
    float: left;
    margin: 3px 15px 0 0; 
}

.image_fr { 
    float: right; 
    margin: 3px 0 0 15px; 
}

blockquote { font-style: italic; margin-left: 10px;}

cite { font-weight: bold; color:#3b3823; }

cite span { color: #696443; }

em { color: #000; }

.tooplate_list { margin: 20px 10px; padding: 0; list-style: none; }


.tooplate_list li { 
    background: transparent url(../images/tooplate_list.png) no-repeat scroll 0 0px; 
    margin:0 0 20px; 
    padding: 0 0 0 20px;    
    line-height: 0.8em; 
}


#an-custom-img1 { 
    background: transparent url(../images/tooplate_image_01.jpg) no-repeat scroll 10 10px; 
    
}




.tooplate_list li a { color: #fff; }

.tooplate_list li a:hover { color: #ff4301; }

.btn_more a { 
    display: inline-block;
    color: #333;
    padding: 2px 0 2px 23px;
    font-size: 12px;
    text-align: center;
    font-weight: bold;
    text-decoration: none;
    background: url(../images/tooplate_more_btn.png) center left no-repeat;
}

.btn_more a:hover {
    color: #3dc8ff;
    text-decoration: none;
}

#tooplate_header_wrapper { 
    width: 100%; 
    height: 100px; 
    background: url(../images/tooplate_header.jpg) no-repeat center top; 
}

#tooplate_header { 
    width: 940px; 
    height: 100px; 
    padding: 0 10px; 
    margin: 0 auto; 
    background: url(../images/tooplate_header.jpg) no-repeat center top; 
}

#tooplate_header  #site_title { 
    float: left; 
    width: 220px; 
    padding-top: 30px; 
    text-align: center; 
}

#tooplate_header  #site_title h1 { 
    margin: 0; 
    padding: 0; 
} 

#tooplate_header  #site_title a { 
    margin: 0px; 
    padding: 0px; 
    font-size: 40px; 
    color: #ffffff; 
    font-weight: bold; 
    text-decoration: none; 
}

#tooplate_header  #site_title a span { 
    display: block; 
    font-size: 14px; 
    color: #cccccc; 
    font-weight: normal; 
    margin-left: 5px; 
}

#tooplate_header #header_right { 
    float: right;  
    padding-top: 10px; 
    display: inline-block; 

}

#social_box { 
    display: block; 
    margin-bottom: 10px; 
}

#social_box ul { 
    display: inline-block; 
    float: right; 
    margin: 8px 0 0; 
    padding: 0; 
    list-style: none; 
}

#social_box li { 
    display: block; 
    float: left; 
    padding: 0; 
    margin: 0; 
}

#social_box li a { 
    width: 24px; 
    height: 24px; 
    margin-right: 5px; 
}

#search_box { 
    width: 220px; 
    height: 30px; 
    margin: 5px 0 0 0; 
    background: url(../images/tooplate_search.png) no-repeat; 
}

#search_box form { 
    clear: both; 
    width: 220px; 
    height: 30px; 
    padding: 0; 
} 

#searchfield { 
    height: 20px; 
    width: 180px; 
    padding: 5px; 
    color: #fff; 
    background: none; 
    border: none; 
} 

#searchbutton { 
    height: 30px; 
    width: 26px; 
    padding: 0 0 5px 0; 
    margin: 0; 
    cursor: pointer; 
    background: none; 
    border: none; 
}

#tooplate_middle_wrapper { 
    width: 100%; 
    height: 300px; 
    background:url(../images/tooplate_wws.jpg) no-repeat center top; 
}

#tooplate_middle { 
    width: 840px; 
    height: 200px; 
    padding: 50px; 
    margin: 0 auto;  
    background:url(../images/tooplate_wws.jpg) no-repeat center top; 
}

#tooplate_middle  img { 
    float: left; 
    border: 1px solid #e1f6ff; 
    padding: 8px; 
}

#middle_content { 
    float: right; 
    width: 450px; 
}

#middle_content p { 
    margin-bottom: 20px; 
    line-height: 24px; 
}

#tooplate_middle .wwu_btn a { 
    display: block; 
    width: 182px; 
    height: 42px; 
    background: url(../images/btn_wwu.png) no-repeat; 
}

#tooplate_middle .wwu_btn a:hover { 
    display: block; 
    width: 182px; 
    height: 42px; 
    background: url(../images/btn_wwu_hover.png) no-repeat; 
}

/* menu */

#tooplate_menu {
    width: 940px;
    height: 50px;
    padding: 0 10px;
    margin: 0 auto;
    background: url(../images/tooplate_menu_bar.png) top no-repeat;
}

#tooplate_menu ul {
    margin: 0;
    padding: 0 35px;
    list-style: none;
}

#tooplate_menu ul li {
    padding: 0px;
    margin: 0px;
    display: inline;
}

#tooplate_menu ul li a {
    float: left;
    display: block;
    width: 102px;
    height: 38px;
    padding: 12px 0 0 0;
    margin: 0 1px 0 0 ;
    font-size: 14px;
    text-align: center;
    text-decoration: none;
    color: #fff;    
    font-weight: bold;
    outline: none;
    border: none;
}

#tooplate_menu ul li a:hover, #tooplate_menu ul li .current {
    color: #fff;
    background: url(../images/tooplate_menu_hover.jpg) top repeat-x;
}

/* end of menu */

#tooplate_content { width: 940px; margin: 0 auto; padding: 30px 10px; }

#tooplate_content p { margin-bottom: 10px; }

#services {
    clear: both;
    border-bottom: 1px solid #b2c9d2;
    margin-bottom: 40px;
    padding-bottom: 20px;
}

#services h3 {
    height: 24px; padding-left: 32px;
}

#services .service1 { background: url(../images/onebit_15.png) center left no-repeat; }
#services .service2 { background: url(../images/onebit_16.png) center left no-repeat; }
#services .service3 { background: url(../images/onebit_18.png) center left no-repeat; }

.content_box {
    clear: both;
    border-bottom: 1px solid #b2c9d2;
    margin-bottom: 20px;
    padding-bottom: 20px;   
}

.content_box_last {
    border-bottom: none;
    margin-bottom: 0;
}

.col_w300 {
    float: left;
    width: 279px;
    padding-right: 20px;
    margin-right: 20px;
    border-right: 1px solid #b2c9d2;
}

.col_w460 {
    float: left;
    width: 419px;
    padding-right: 40px;
    margin-right: 20px;
    border-right: 1px solid #b2c9d2;
}

.last_col {
    margin-right: 0;
    border-right: none;
}

/* gallery */
#gallery { clear: both; }

#gallery a { border: none; }

.g_box { 
    float: left; 
    display: block; 
    width: 280px; 
    padding: 8px; 
    margin: 0 20px 20px 0; 
    border: 1px solid #fff; 
    background: #f3fbfe; 
}

.g_box a img { width: 280px; height: 140px; margin-bottom: 10px; }

.rm_col { margin: 0 0 20px 0; } 
/* end of gallery */

#contact_form {
    width: 412px; 
    padding: 0; 
}

#contact_form form { 
    margin: 0px; 
    padding: 0px; 
}
#contact_form form .input_field { 
    width: 300px; 
    padding: 5px; 
    background: #fff; 
    border: 1px solid #dfdfdf;
    font-family: Verdana,Geneva,sans-serif;
    font-size: 12px;
    margin-top: 5px; 
}

#contact_form form label { 
    display: block; 
    width: 100px;
    margin-right: 10px; 
    font-size: 13px; 
}

#contact_form form textarea { 
    width: 400px;  
    height: 200px;
    padding: 5px;   
    background: #fff;   
    border: 1px solid #dfdfdf;
    font-family: Verdana,Geneva,sans-serif;
    font-size: 12px;
    margin-top: 5px; 
}

#contact_form form .submit_btn  {
    margin: 5px 0px;
    padding: 3px 14px;
    font-weight: bold;
    border: 1px solid #dfdfdf;
    background: #F3F3F3;
}

/* footer */

#tooplate_footer_wrapper {
    width: 100%;
    border-top: 1px solid #fff;
    padding-top: 1px;
    background: #28556e; 
}

#tooplate_footer {
    width: 900px;
    margin: 0 auto;
    padding: 15px 35px;
    text-align: center;
    color: #8ab6d1;
}

#tooplate_footer a {
    color: #b4d8ee;
}

