<div class="pmb-block clearfix photos">
    <div class="p-header">
        <ul class="p-menu">
            <li class="active"><a href=""><i class="zmdi zmdi-image"></i> Photos</a></li>
            <li><a href=""><i class="zmdi zmdi-play-circle"></i> Videos</a></li>
            <li><a href=""><i class="zmdi zmdi-collection-image"></i> Albums</a></li>
        </ul>

        <ul class="actions m-t-20 hidden-xs">
            <li class="dropdown" dropdown>
                <a href="" dropdown-toggle>
                    <i class="zmdi zmdi-more-vert"></i>
                </a>

                <ul class="dropdown-menu dropdown-menu-right">
                    <li>
                        <a href="">Refresh</a>
                    </li>
                    <li>
                        <a href="">Settings</a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>

    <button class="btn btn-float btn-danger m-btn"><i class="zmdi zmdi-plus"></i></button>


    <div class="lightbox row">
        <div data-src="expertadvice-v1/assets/media/gallery/1.jpg" class="col-md-3 col-sm-4 col-xs-6">
            <div class="lightbox-item p-item">
                <img src="expertadvice-v1/assets/media/gallery/thumbs/1.jpg" alt="" />
            </div>
        </div>

        <div data-src="expertadvice-v1/assets/media/gallery/2.jpg" class="col-md-3 col-sm-4 col-xs-6">
            <div class="lightbox-item p-item">
                <img src="expertadvice-v1/assets/media/gallery/thumbs/2.jpg" alt="" />
            </div>
        </div>

        <div data-src="expertadvice-v1/assets/media/gallery/3.jpg" class="col-md-3 col-sm-4 col-xs-6">
            <div class="lightbox-item p-item">
                <img src="expertadvice-v1/assets/media/gallery/thumbs/3.jpg" alt="" />
            </div>
        </div>

        <div data-src="expertadvice-v1/assets/media/gallery/4.jpg" class="col-md-3 col-sm-4 col-xs-6">
            <div class="lightbox-item p-item">
                <img src="expertadvice-v1/assets/media/gallery/thumbs/4.jpg" alt="" />
            </div>
        </div>

        <div data-src="expertadvice-v1/assets/media/gallery/5.jpg" class="col-md-3 col-sm-4 col-xs-6">
            <div class="lightbox-item p-item">
                <img src="expertadvice-v1/assets/media/gallery/thumbs/5.jpg" alt="" />
            </div>
        </div>
        <div data-src="expertadvice-v1/assets/media/gallery/6.jpg" class="col-md-3 col-sm-4 col-xs-6">
            <div class="lightbox-item p-item">
                <img src="expertadvice-v1/assets/media/gallery/thumbs/6.jpg" alt="" />
            </div>
        </div>
        <div data-src="expertadvice-v1/assets/media/gallery/7.jpg" class="col-md-3 col-sm-4 col-xs-6">
            <div class="lightbox-item p-item">
                <img src="expertadvice-v1/assets/media/gallery/thumbs/7.jpg" alt="" />
            </div>
        </div>
        <div data-src="expertadvice-v1/assets/media/gallery/8.jpg" class="col-md-3 col-sm-4 col-xs-6">
            <div class="lightbox-item p-item">
                <img src="expertadvice-v1/assets/media/gallery/thumbs/8.jpg" alt="" />
            </div>
        </div>
        <div data-src="expertadvice-v1/assets/media/gallery/9.jpg" class="col-md-3 col-sm-4 col-xs-6">
            <div class="lightbox-item p-item">
                <img src="expertadvice-v1/assets/media/gallery/thumbs/9.jpg" alt="" />
            </div>
        </div>
        <div data-src="expertadvice-v1/assets/media/gallery/10.jpg" class="col-md-3 col-sm-4 col-xs-6">
            <div class="lightbox-item p-item">
                <img src="expertadvice-v1/assets/media/gallery/thumbs/10.jpg" alt="" />
            </div>
        </div>
        <div data-src="expertadvice-v1/assets/media/gallery/11.jpg" class="col-md-3 col-sm-4 col-xs-6">
            <div class="lightbox-item p-item">
                <img src="expertadvice-v1/assets/media/gallery/thumbs/11.jpg" alt="" />
            </div>
        </div>
        <div data-src="expertadvice-v1/assets/media/gallery/12.jpg" class="col-md-3 col-sm-4 col-xs-6">
            <div class="lightbox-item p-item">
                <img src="expertadvice-v1/assets/media/gallery/thumbs/12.jpg" alt="" />
            </div>
        </div>
        <div data-src="expertadvice-v1/assets/media/gallery/13.jpg" class="col-md-3 col-sm-4 col-xs-6">
            <div class="lightbox-item p-item">
                <img src="expertadvice-v1/assets/media/gallery/thumbs/13.jpg" alt="" />
            </div>
        </div>
        <div data-src="expertadvice-v1/assets/media/gallery/14.jpg" class="col-md-3 col-sm-4 col-xs-6">
            <div class="lightbox-item p-item">
                <img src="expertadvice-v1/assets/media/gallery/thumbs/14.jpg" alt="" />
            </div>
        </div>
        <div data-src="expertadvice-v1/assets/media/gallery/15.jpg" class="col-md-3 col-sm-4 col-xs-6">
            <div class="lightbox-item p-item">
                <img src="expertadvice-v1/assets/media/gallery/thumbs/15.jpg" alt="" />
            </div>
        </div>
        <div data-src="expertadvice-v1/assets/media/gallery/16.jpg" class="col-md-3 col-sm-4 col-xs-6">
            <div class="lightbox-item p-item">
                <img src="expertadvice-v1/assets/media/gallery/thumbs/16.jpg" alt="" />
            </div>
        </div>
        <div data-src="expertadvice-v1/assets/media/gallery/17.jpg" class="col-md-3 col-sm-4 col-xs-6">
            <div class="lightbox-item p-item">
                <img src="expertadvice-v1/assets/media/gallery/thumbs/7.jpg" alt="" />
            </div>
        </div>
        <div data-src="expertadvice-v1/assets/media/gallery/18.jpg" class="col-md-3 col-sm-4 col-xs-6">
            <div class="lightbox-item p-item">
                <img src="expertadvice-v1/assets/media/gallery/thumbs/18.jpg" alt="" />
            </div>
        </div>
        <div data-src="expertadvice-v1/assets/media/gallery/19.jpg" class="col-md-3 col-sm-4 col-xs-6">
            <div class="lightbox-item p-item">
                <img src="expertadvice-v1/assets/media/gallery/thumbs/19.jpg" alt="" />
            </div>
        </div>
        <div data-src="expertadvice-v1/assets/media/gallery/20.jpg" class="col-md-3 col-sm-4 col-xs-6">
            <div class="lightbox-item p-item">
                <img src="expertadvice-v1/assets/media/gallery/thumbs/20.jpg" alt="" />
            </div>
        </div>
        <div data-src="expertadvice-v1/assets/media/gallery/21.jpg" class="col-md-3 col-sm-4 col-xs-6">
            <div class="lightbox-item p-item">
                <img src="expertadvice-v1/assets/media/gallery/thumbs/21.jpg" alt="" />
            </div>
        </div>
        <div data-src="expertadvice-v1/assets/media/gallery/22.jpg" class="col-md-3 col-sm-4 col-xs-6">
            <div class="lightbox-item p-item">
                <img src="expertadvice-v1/assets/media/gallery/thumbs/22.jpg" alt="" />
            </div>
        </div>
        <div data-src="expertadvice-v1/assets/media/gallery/23.jpg" class="col-md-3 col-sm-4 col-xs-6">
            <div class="lightbox-item p-item">
                <img src="expertadvice-v1/assets/media/gallery/thumbs/23.jpg" alt="" />
            </div>
        </div>
        <div data-src="expertadvice-v1/assets/media/gallery/24.jpg" class="col-md-3 col-sm-4 col-xs-6">
            <div class="lightbox-item p-item">
                <img src="expertadvice-v1/assets/media/gallery/thumbs/24.jpg" alt="" />
            </div>
        </div>
    </div>

    <div class="clearfix"></div>

    <div class="load-more m-t-30">
        <a href=""><i class="zmdi zmdi-refresh-alt"></i> Load More...</a>
    </div>
</div>
